{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Quản lý Website</h1>
<hr>
<div class="container d-flex" style="justify-content: space-around;">
  <a class="btn btn-secondary" href="/quan-ly/bao-cao/">Báo cáo</a>
  <a class="btn btn-secondary" href="/quan-ly/nguoi-dung/">Người dùng</a>
  <a class="btn btn-secondary" href="/quan-ly/nhap-hang/">Nhập hàng</a>
  <a class="btn btn-secondary" href="/kho/yeu-cau/">Xuất hàng</a>
  <a class="btn btn-secondary" href="/quan-ly/san-pham/">Sản phẩm</a>
  <a class="btn btn-secondary" href="/quan-ly/nha-cung-cap/">Nhà cung cấp</a>
</div>
{% endblock %}