{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/warehouse/import-product.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center">Nhập hàng</h1>
<hr>
<div class="d-flex justify-content-center">
  <form style="width: 60%;" method="POST">
    {% csrf_token %}
    <h4 class="text-center">Thông tin nhà cung cấp</h4>
    {{ form_i.as_p }}
    <h4 class="text-center">Thông tin chi tiết nhập hàng</h4>
    <div class="import-detail">
      {{ form_id.as_p }}
    </div>
    <center>
      <button add-product class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-plus"></i> Thêm sản phẩm</button>
    </center>
    <br>
    <center>
      <button submit-form class="btn btn-secondary">Xác nhận</button>
    </center>
  </form>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/warehouse/import-product.js' %}"></script>
{% endblock %}