{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/store/product.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-5 product-left">
      <img src="{{ product.thumbnail }}" alt="Ảnh sản phẩm">
    </div>
    <div class="col-7 product-right">
      <h3 class="text-center">{{ product.title }}</h3>
      <hr>
      <p class="text-center">Giá: {{ product.price_export }}₫</p>
      <p class="text-center">Danh mục: {{product.category.name}}</p>
      <p class="text-center">Mô tả:</p>
      <center>
        <p class="text-center description">{{ product.description }}</p>
      </center>
      <p class="text-center">Tồn kho: {{ product.stock.inventory }}</p>
    </div>
  </div>
</div>
{% endblock %}